<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
  rel="stylesheet"
/>
<!-- JQuery -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/loadTodos.js"></script>
<script type="text/javascript" src="/scripts/loadAfterInsert.js"></script>

<!-- local styles -->
<link rel="stylesheet" href="../../styles/list.css" />

<section class="vh-100">
  <header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg">
      <a class="navbar-brand" href="/urls">Todo App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My Todos</a>
          <a class="nav-item nav-link" href="/urls/new">Create New Todos</a>
            <a class="nav-item nav-link" href="/urls">
              <div> Signed in as: alula@mail.com </div>
            </a>
            <form class="form-inline" action="/logout" method="POST">
              <button style="position:absolute; right: 10px;;" type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </nav>
  </header>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div
          class="card"
          id="list1"
          style="border-radius: 0.75rem; background-color: #eff1f2"
        >
          <div class="card-body py-4 px-4 px-md-5">
            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
              <u>Here's Your Todo List</u>
            </p>
            <div class="pb-2">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row align-items-center">
                    <form id="new-todo" action="/profile" method="POST">
                      <input
                        name="memo"
                        type="text"
                        class="form-control form-control-lg"
                        id="FormControlInput1"
                        placeholder="Add new..."
                      />
                      <div>
                        <button type="submit" class="btn btn-primary">
                          Add
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div
              class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3"
            >
              <p class="small mb-0 me-2 text-muted">Filter</p>
              <form
                name="memo-type"
                value="all"
                id="type-all"
                action="/loadtodos"
                method="POST"
                class="submit-type"
              >
                <button type="submit">All</button>
              </form>
              <form
                name="memo-type-read"
                id="type-read"
                action="/loadtodos"
                method="POST"
                class="submit-type"
                value="toread"
              >
                <button type="submit">To Read</button>
              </form>
              <form
                name="memo-type-buy"
                id="type-buy"
                action="/loadtodos"
                method="POST"
                class="submit-type"
                value="tobuy"
              >
                <button type="submit" value="tobuy">To Buy</button>
              </form>
              <form
                name="memo-type-eat"
                id="type-eat"
                action="/loadtodos"
                method="POST"
                class="submit-type"
                value="toeat"
              >
                <button type="submit" value="toeat">To Eat</button>
              </form>
              <form
                name="memo-type-watch"
                id="type-watch"
                action="/loadtodos"
                method="POST"
                class="submit-type"
                value="towatch"
              >
                <button type="submit" value="towatch">To Watch</button>
              </form>
              <a
                href="#!"
                style="color: #23af89"
                data-mdb-toggle="tooltip"
                title="Ascending"
                ><i class="fas fa-sort-amount-down-alt ms-2"></i
              ></a>
            </div>
            <div id="todo-list"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
